node_modules/
build/
dist/
.venv/
__pycache__/
*.pyc
.DS_Store
.env
.env.local
.env.*.local
.firebaserc
android/app/google-services.json
*.jks
android/app/*.keystore
android/app/*.jks
android/keystore.properties
android/.gradle_home/
android/.idea/
android/app/.idea/
android/gradle-dist/
android/init.gradle
android/wrapper/
ios/App/App.xcworkspace/
ios/App/App/public/
docs/index.html

# Local Netlify folder
.netlify
build-verify/
.idea/
.gradle-user/
pfm-upload-cert.pem
_to_delete/
apk_inspect/
apk_inspect2/
cert_extract/
supabase/.temp/

